node_modules
dist

packages/schema/compiled
packages/schema/schemas

packages/template/.aws-sam
packages/template/.next
packages/template/.somod
packages/template/build
packages/template/parameters.json
packages/template/tsconfig.json
packages/template/pages
packages/template/public
packages/template/next-env.d.ts
packages/template/.env
packages/template/next.config.js
packages/template/samconfig.toml
packages/template/template.yaml
packages/template/tsconfig.somod.json

packages/integration-tests/samples
