node_modules
dist
package-lock.json

packages/lib/coverage
packages/lib/tests/tasks/build/testData

packages/schema/compiled
packages/schema/schemas

packages/create/template/.aws-sam
packages/create/template/.next
packages/create/template/.somod
packages/create/template/parameters.json
packages/create/template/tsconfig.json
packages/create/template/pages
packages/create/template/public
packages/create/template/next-env.d.ts
packages/create/template/.env
packages/create/template/next.config.js
packages/create/template/samconfig.toml
packages/create/template/template.yaml
packages/create/template/tsconfig.somod.json

packages/integration-tests/samples/**/build
packages/integration-tests/samples/**/.aws-sam
packages/integration-tests/samples/**/.next
packages/integration-tests/samples/**/.somod
packages/integration-tests/samples/**/samconfig.toml
