node_modules
dist
package-lock.json

packages/lib/coverage
packages/lib/tests/tasks/build/testData

packages/schema/compiled
packages/schema/schemas

packages/template/.aws-sam
packages/template/.next
packages/template/.somod
packages/template/build
packages/template/parameters.json
packages/template/tsconfig.json
packages/template/pages
packages/template/public
packages/template/next-env.d.ts
packages/template/.env
packages/template/next.config.js
packages/template/samconfig.toml
packages/template/template.yaml
packages/template/tsconfig.somod.json

packages/integration-tests/packages

packages/integration-tests/samples/**/build
packages/integration-tests/samples/**/.aws-sam
packages/integration-tests/samples/**/.next
packages/integration-tests/samples/**/.somod
packages/integration-tests/samples/**/samconfig.toml
packages/integration-tests/samples/**/tsconfig.json

packages/integration-tests/samples/push-notification-service/template.yaml
packages/integration-tests/samples/push-notification-ui/pages/notify.ts
packages/integration-tests/samples/push-notification/pages/messages.ts
packages/integration-tests/samples/push-notification/pages/notify.ts
packages/integration-tests/samples/push-notification/template.yaml
